.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #fff;
  border: 1px solid #a02323;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: calc(33.33% - 20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card .user {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.card .title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card .body {
  font-size: 18px;
  color: #666;
}
